* {
	color: white;
}

body {
	background-color: #2B2B2B;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#body_container {

}

#info_container {
	background-color: black;
	width: 450px;
	height: 250px;
	border: 3px solid #1F51FF;
	position: relative;
	align-items: center;
}

.task_container {
	background-color: black;
	width: 450px;
	min-height: 50px;
	max-height: fit-content;
	border: 3px solid #1F51FF;
	display: flex;
	position: relative;
	align-items: center;
	margin-top: 30px;
}

#task_button {
	position: absolute;
	background-color: black;
	border: 3px solid #1F51FF;
	width: 80px;
	height: 80px;
	font-size: 45px;
	bottom: 50px;
	right: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
	z-index: 1;
}

#task_button:hover {
	border: 4px solid #1F51FF;
}

/* The Modal (background) */
.modal {
	display: block; /* None by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: black;
	margin: auto;
	padding: 20px;
	border: 3px solid #1F51FF;
	width: 410px;
	height: 206px;
}

.main-modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

/* The Close Button */
.close {
	position: absolute;
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	right: 0;
	top: 0;
	z-index: 10;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid black;
}

.close:hover,
.close:focus {
	color: #1F51FF;
	text-decoration: none;
	cursor: pointer;
	border: 3px solid #1F51FF;
}

#input {
	background-color: #121212;
	border: 2px solid #073FFF;
	height: 30px;
	width: 300px;
	margin-bottom: 20px;
}

.input_button {
	background-color: black;
	border: 3px solid #1F51FF;
	width: 90px;
	height: 40px;
}

.input_button:hover {
	border: 4px solid #1F51FF;
}

.btn-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	width: 100%;
}

.action_button {
	display: flex;
	width: 40px;
	height: 30px;
	border: 3px solid #3f5fcf;
	background-color: black;
	margin-right: 10px;
}

.action_button:hover {
	border-width: 2px;
}

.task_text {
	display: flex;
	margin-left: 10px;
	width: 333px;
	overflow-wrap: break-word;
	z-index: 2;
}
.task_text:active,
.task_text:hover {
	color: #7b97fc;
}